<div class="ui statistics">
  <div class="statistic">
    <div class="value">
        {{countOfTasks}}
    </div>
    <div class="label">
      Total Tasks
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{countOfCompletedTasks}}
    </div>
    <div class="label">
      Completed
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      {{countOfPendingTasks}}
    </div>
    <div class="label">
      Pending
    </div>
  </div>
</div>
 <div class="ui horizontal divider">
    Efforts for last one week
  </div>

<div class="ui {{sizeOfStatics}} statistics">
{{#each effortsPerWeek as |effortPerDay|}}
  <div class="statistic">
    <div class="value">
        {{effortPerDay.date}}
    </div>
    <div class="label">
      {{effortPerDay.formatedEffort}}
    </div>
  </div>
{{/each}}
</div>
